<h1>Properties</h1>
<div *ngFor="let property of properties">
    <div class="card mt-2">
        <img src="https://localhost:7000/{{property.propertyImageUrl}}" class="card-img-top" />
        <div class="card-body ">
            <p></p>
            <h5 class="card-title">{{property.propertyName}}</h5>
            <p class="card-text">Rent: {{property.rentCost}}</p>
            <a [routerLink]="['/admin/addproperty', property.propertyId]" class="btn btn-primary"><i
                    class="fa fa-edit"></i>Edit</a>
        </div>
    </div>
</div>