/* Navbar styles */
.navbar {
    background-color: transparent; /* Make the background transparent */
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Logo image styles */
  .navbar-logo {
    max-width: 80px; /* Adjust the maximum width for your logo */
    height: auto;
  }
  
  /* Toggle button styles */
  .navbar-toggler {
    background-color: transparent; /* Make the background transparent */
    border: none;
  }
  
  .navbar-toggler i {
    color: #333; /* Toggle button icon color */
    font-size: 1.5rem;
  }
  
  /* Navigation links styles */
  .nav-link {
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #007bff; /* Hover color for navigation links */
  }
  
  /* Container styles */
  .container {
    padding: 2rem;
  }
  
  /* Content styles */
  .content {
    background-color: #f8f9fa; /* Background color for the main content */
    padding: 2rem;
    height: 100%; /* Fill the entire viewport height */
  }


  